block variables

doctype 5
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    title= title
    != css('application')
    != js('application')
  body
    .container
      .header
        a.logo(href='/') 首页
      ul.nav
        li
          a.first.products(href='/') 全能产品库
        li
          a.active(href='/') 首页
        li
          a(href='/') 栏目一
        li
          a(href='/') 栏目二
        li
          a(href='/') 栏目三
        li
          a(href='/') 栏目四
        li
          a(href='/') 栏目五
        li
          a(href='/') 栏目六
        li
          a(href='/') 栏目七
        li
          a(href='/') 栏目八
        li
          a(href='/') 栏目九
        li.clearfix
      block content
