block variables

doctype 5
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    title= title
    != css('application')
    != js('application')
  body
    .container
      .header
        a.logo(href='/') 首页
        .user
          - if (current_user)
            a(href='/my_account')= current_user.alias || current_user.username
            &nbsp;|&nbsp;
            a(href='/orders') 我的订单
            &nbsp;|&nbsp;
            a#logout(href='javascript:;') 退出登录
          - else
            a(href='/orders') 登录并查询我的订单
          - if (!hide_header_cart)
            &nbsp;|&nbsp;
            #headerCart.cartInfo
              | 购物车（
              span.simpleCart_quantity 0
              | ）
            #cartPopover
              #triangle
              .simpleCart_items
              #cartData.clearfix
                .left
                  strong 数量：
                  span.simpleCart_quantity
                .right
                  strong 总价：
                  span.simpleCart_total
              #popoverButtons.clearfix
                a.hudbtn.left(href='/cart') 查看详细
                a.simpleCart_checkout.hudbtn.primary.right(href='javascript:;') 结账
      ul.nav
        li
          a.first.products(href='/') 全能产品库
        li
          a.active(href='/') 首页
        li
          a(href='/') 栏目一
        li
          a(href='/') 栏目二
        li
          a(href='/') 栏目三
        li
          a(href='/') 栏目四
        li
          a(href='/') 栏目五
        li
          a(href='/') 栏目六
        li
          a(href='/') 栏目七
        li
          a(href='/') 栏目八
        li
          a(href='/') 栏目九
        li.clearfix
      block content
      - if (messages && messages.length > 0)
        - var msgs = ''
        - while (message = messages.pop())
          - for (msg in message)
            - if (message[msg])
              - msgs += 'toastr["' + msg + '"](unescape("' + escape(message[msg]) + '"));'
        - if (msgs)
          != '<script>' + msgs + '</script>'
      != '<script>window.csrf_token="' + csrf_token + '";</script>'
      .footer
        .footer-body
          .nboxes
            .nbox
              .nbox_l 7
              .nbox_r 天<br>退货保障
            .nbox
              .nbox_l 15
              .nbox_r 天<br>换货承诺
            .nbox
              .nbox_l 100
              .nbox_r 元起<br>全场免邮费
            .nbox
              .nbox_l 420
              .nbox_r 余家<br>售后服务网点
          .fc
            .fl
            .fr
              .ftel
                a.ftelink(href='/')
                  span.ci.ci-tel
                  | 400-830-4555
                周一至周日8:00-18:00
              .fco
                a.fcolink(href='/')
                  span.ci.ci-chat
                  | 咨询在线客服
      .copy
        | &copy; 1999-2013 广东安能保险柜制造有限公司
        = ' '
        a(href='http://www.miitbeian.gov.cn/') 粤ICP备12015444号-1
        = ' '
        a(href='/Sitemap.xml') Sitemap
