block variables
  title = "查看购物车"
  hide_header_cart = true

extends layouts/default

block content
  #shopping_cart.simpleCart_items
  .shopping_cart_buttons
    a.simpleCart_checkout.hudbtn.primary.right(href='javascript:;') 结账
    .clearfix
