block variables
  title = "查看购物车"
  hide_header_cart = true

extends layouts/default

block content
  .checkout
    h2.title 我的购物车
    .cartaccontainer
      input#cartac.typeahead(type='text', placeholder='输入关键词快速添加商品')
    .empty_cart.hidden 您的购物车是空的。
    .cart
      #shopping_cart.simpleCart_items.table_container
      .shopping_cart_buttons
        a.simpleCart_checkout.hudbtn.primary.right(href='javascript:;') 结账
        .clearfix
