block variables
  title = "首页"

extends layouts/default

block content
  .row01
    ul.sidemenu.row01_l
      li
        a(href='/新皇冠/HG-2740') 新皇冠HG-2740
      li
        a(href='/新皇冠/HG-3342') 新皇冠HG-3342
    .row01_r
      #main-slider.sliderkit
        .sliderkit-panels
          .sliderkit-btn.sliderkit-go-btn.sliderkit-go-prev
            a(href='#', title='Previous')
              span Previous
          .sliderkit-btn.sliderkit-go-btn.sliderkit-go-next
            a(href='#', title='Next')
              span Next
          .sliderkit-panel
            a(href='/', title='')
              img(src='/images/home/billboard-01.jpg', alt='')
          .sliderkit-panel
            a(href='/', title='')
              img(src='/images/home/billboard-02.jpg', alt='')
      #cases.row
        .span3
          a(href='/')
            img.img-230-150(alt='', src='/images/home/230x150.png')
        .span3
          a(href='/')
            img.img-230-150(alt='', src='/images/home/230x150.png')
        .span3
          a(href='/')
            img.img-230-150(alt='', src='/images/home/230x150.png')
        .span3
          a(href='/')
            img.img-230-150(alt='', src='/images/home/230x150.png')
        .clearfix
    .clearfix
  .panel
    .panel-heading 新品上架
    .panel-body
      .col.col2
        a(href='/')
          img.img-460-310(src='/images/home/a.jpg')
      .col.col1
        a(href='/')
          img.img-225-310(src='/images/home/225x310.png')
      .col.col1
        .lvl1
          a(href='/')
            img.img-225x150(src='/images/home/225x150.png')
        .lvl2
          a(href='/')
            img.img-225x150(src='/images/home/225x150.png')
      .col.col1
        a(href='/')
          img.img-225-310(src='/images/home/225x310.png')
      .clearfix
  .panel
    .panel-heading 热销产品
    .panel-body
      .col.col1
        a(href='/')
          img.img-225-310(src='/images/home/225x310.png')
      .col.col1
        .lvl1
          a(href='/')
            img.img-225x150(src='/images/home/225x150.png')
        .lvl2
          a(href='/')
            img.img-225x150(src='/images/home/225x150.png')
      .col.col1
        a(href='/')
          img.img-225-310(src='/images/home/225x310.png')
      .col.col2
        a(href='/')
          img.img-460-310(src='/images/home/b.jpg')
      .clearfix
