block variables
  title = "首页"

extends layouts/default

block content
  .row01
    ul.sidemenu.row01_l
      li
        a(href='/新皇冠/HG-2740') 新皇冠HG-2740
      li
        a(href='/新皇冠/HG-3342') 新皇冠HG-3342
    .row01_r
      #main-slider.sliderkit
        .sliderkit-panels
          .sliderkit-btn.sliderkit-go-btn.sliderkit-go-prev
            a(href='#', title='Previous')
              span Previous
          .sliderkit-btn.sliderkit-go-btn.sliderkit-go-next
            a(href='#', title='Next')
              span Next
          .sliderkit-panel
            a(href='/', title='')
              img(src='/images/home/billboard-01.jpg', alt='')
          .sliderkit-panel
            a(href='/', title='')
              img(src='/images/home/billboard-02.jpg', alt='')
      #cases.row
        .span3
          a(href='/')
            img.img-230-150(alt='', src='/images/home/a.jpg')
        .span3
          a()
            img.img-230-150(alt='', src='/images/home/b.jpg')
        .span3
          a()
            img.img-230-150(alt='', src='/images/home/c.jpg')
        .span3
          a()
            img.img-230-150(alt='', src='/images/home/d.jpg')
        .clearfix
    .clearfix
  .panel
    .panel-heading 新品上架
    .panel-body
      .col.col2
        a(href='http://www.qnnshop.com/safe/ai-5842/')
          img.img-460-310(src='/images/home/a1.jpg')
      .col.col1
        a(href='http://www.qnnshop.com/safe/ai-3340/')
          img.img-225-310(src='/images/home/a2.jpg')
      .col.col1
        .lvl1
          a(href='http://www.qnnshop.com/safe/lg-2535/')
            img.img-225x150(src='/images/home/a3.jpg')
        .lvl2
          a(href='http://www.qnnshop.com/safe/cx-1625/')
            img.img-225x150(src='/images/home/a4.jpg')
      .col.col1
        a(href='http://www.qnnshop.com/safe/jd-7645/')
          img.img-225-310(src='/images/home/a5.jpg')
      .clearfix
  .panel
    .panel-heading 热销产品
    .panel-body
      .col.col1
        a(href='http://www.qnnshop.com/safe/iv-3342/')
          img.img-225-310(src='/images/home/b1.jpg')
      .col.col1
        .lvl1
          a(href='http://www.qnnshop.com/safe/cki-253530/')
            img.img-225x150(src='/images/home/b2.jpg')
        .lvl2
          a(href='http://www.qnnshop.com/safe/cx-2046/')
            img.img-225x150(src='/images/home/b3.jpg')
      .col.col1
        a(href='http://www.qnnshop.com/safe/ai-5842/')
          img.img-225-310(src='/images/home/b4.jpg')
      .col.col2
        a(href='http://www.qnnshop.com/safe/ai-5842/')
          img.img-460-310(src='/images/home/b5.jpg')
      .clearfix
