block variables
  title = "登录"

extends layouts/default

block content
  form.login(action='/login', method='POST')
    h2.title 登录
    .form
      .form-group
        label(for='user_name') 用户名
        input.form-input#user_name(type='text', name='user_name', autocomplete='off')
      .form-group
        label(for='user_phone') 联系电话
        input.form-input#user_phone(type='text', name='user_phone', autocomplete='off')
    .login_buttons
      button.hudbtn.primary.left(type='submit') 登录
      .clearfix
