@import "vendor/reset";

body {
  font-family: Arial;
  background: #F5F7FA;
}

abbr {
  border-bottom: 1px dotted #333;
  cursor: help;
}

.container {
  width: 1190px;
  margin: 0 auto;
}

.important {
  color: red;
  margin: 0 0 0 5px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.clearfix {
  zoom: 1;
  clear: both;
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.header {
  position: relative;
  height: 80px;
  a.logo {
    display: block;
    text-indent: -9999px;
    background: url(/images/qnn-logo.png) no-repeat;
    width: 329px;
    height: 50px;
    position: absolute;
    top: 15px;
    left: 0;
  }
}

.user {
  position: absolute;
  right: 0;
  top: 27px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  a {
    color: #666;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.cartInfo {
  float: right;
  width: 80px;
  background: #EFF1F4 url(/images/cart.png) no-repeat 10px 7px;
  font-size: 13px;
  font-weight: bold;
  color: #6e6e6e;
  text-shadow: 1px 1px 0 #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 0px rgba(0,0,0,.20), 0 1px 0 #fff;
  -moz-box-shadow: inset 0 0 1px 0px rgba(0,0,0,.20), 0 1px 0 #fff;
  box-shadow: inset 0 0 1px 0px rgba(0,0,0,.20), 0 1px 0 #fff;
  padding: 7px 8px 6px 33px;
  line-height: 18px;
  position: relative;
  margin: 0 0 0 10px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-transition: background-color .2s linear;
  &:hover {
    background-color: #e8eaed;
  }
  &.open {
    background-position: 10px -17px;
  }
}

#cartPopover {
  position: absolute;
  width: 320px;
  top: 43px;
  right: 0;
  z-index: 9999;
  display: none;
  
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0,0,0,.8);
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #000;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 3px rgba(0,0,0,.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 3px rgba(0,0,0,.5);
  
  background: #45484a; /* Old browsers */
  background: -moz-linear-gradient(top,  #45484a 0%, #2a2b2c 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484a), color-stop(100%,#2a2b2c)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #45484a 0%,#2a2b2c 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #45484a 0%,#2a2b2c 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #45484a 0%,#2a2b2c 100%); /* IE10+ */
  background: linear-gradient(top,  #45484a 0%,#2a2b2c 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484a', endColorstr='#2a2b2c',GradientType=0 ); /* IE6-9 */
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  .itemRow {
    border-bottom: 1px solid #2B2D2E;
    border-top: 1px solid #434547;
    padding: 10px;
    height: 30px;
    div {
      float: left;
    }
    .item-total {
      float: right;
    }
  }
  .item-custom {
    width: 45px;
    margin-right: 6px;
    span {
      float: left;
      height: 28px;
      display: inline-block;
      width: 24px;
      text-align: center;
    }
    div {
      float: left;
      height: 20px;
      margin: 5px 0 0 3px;
    }
  }
  .item-name {
    float: left;
    width: 160px;
    white-space:  nowrap;
    overflow:  hidden;
    text-overflow:  ellipsis;
  }
  strong {
    color: #fff;
  }
}

#triangle{
  @size: 10px;
  position: absolute;
  right: 50px;
  top: -11px;
  width: 0;
  height: 0;
  border-left: @size solid transparent;
  border-right: @size solid transparent;
  border-bottom: @size solid black;
}

.arrow_up {
  display: block;
  margin: 2px 0;
  @size: 7px;
  width: 0;
  height: 0;
  border-left: @size solid transparent;
  border-right: @size solid transparent;
  border-bottom: @size solid white;
}

.arrow_down {
  display: block;
  margin: 2px 0;
  @size: 7px;
  width: 0;
  height: 0;
  border-left: @size solid transparent;
  border-right: @size solid transparent;
  border-top: @size solid white;
}

#cartData{
  background: #232425;
  padding: 10px;
}

#popoverButtons{
  padding: 10px;
}

.cartAnimation {
	-webkit-transform: scale(0,0);
	-o-transform: scale(0,0);
	-moz-transform: scale(0,0);
	transform: scale(0,0);
  -webkit-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	opacity: .2;
}

a.hudbtn {
  display: inline-block;
}

.hudbtn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font: bold 13px/26px "FreightSans", sans-serif;
  color: #d9d9d9;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  padding: 0 12px;
  height: 24px;
  border: 1px solid #000;
  -webkit-box-shadow: inset 0 1px 0 #6d6d6e;
  -moz-box-shadow: inset 0 1px 0 #6d6d6e;
  box-shadow: inset 0 1px 0 #6d6d6e;
  text-decoration: none !important;
  cursor: pointer;

  background: #3a3a3b; /* Old browsers */
  background: -moz-linear-gradient(top,  #3a3a3b 0%, #343434 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a3a3b), color-stop(100%,#343434)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #3a3a3b 0%,#343434 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #3a3a3b 0%,#343434 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #3a3a3b 0%,#343434 100%); /* IE10+ */
  background: linear-gradient(top,  #3a3a3b 0%,#343434 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3b', endColorstr='#343434',GradientType=0 ); /* IE6-9 */
  &:hover {
    text-decoration: none !important;
    background: #2f2f30; /* Old browsers */
    background: -moz-linear-gradient(top,  #2f2f30 0%, #282828 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f2f30), color-stop(100%,#282828)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2f2f30 0%,#282828 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2f2f30 0%,#282828 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2f2f30 0%,#282828 100%); /* IE10+ */
    background: linear-gradient(top,  #2f2f30 0%,#282828 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f30', endColorstr='#282828',GradientType=0 ); /* IE6-9 */
  }
  &:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: #282828; /* Old browsers */
    background: -moz-linear-gradient(top,  #282828 0%, #2f2f30 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#282828), color-stop(100%,#2f2f30)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #282828 0%,#2f2f30 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #282828 0%,#2f2f30 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #282828 0%,#2f2f30 100%); /* IE10+ */
    background: linear-gradient(top,  #282828 0%,#2f2f30 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#2f2f30',GradientType=0 ); /* IE6-9 */
  }
  &.primary {
    border-color: #3D7530;
    background: #97c865; /* Old browsers */
    background: -moz-linear-gradient(top,  #97c865 0%, #44933d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97c865), color-stop(100%,#44933d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #97c865 0%,#44933d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #97c865 0%,#44933d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #97c865 0%,#44933d 100%); /* IE10+ */
    background: linear-gradient(top,  #97c865 0%,#44933d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97c865', endColorstr='#44933d',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 0 #D8E994;
    -moz-box-shadow: inset 0 1px 0 #D8E994;
    box-shadow: inset 0 1px 0 #D8E994;
    color: #fff;
  }
  &.primary:hover{
    background: #91bf61; /* Old browsers */
    background: -moz-linear-gradient(top,  #91bf61 0%, #3f8738 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91bf61), color-stop(100%,#3f8738)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #91bf61 0%,#3f8738 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #91bf61 0%,#3f8738 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #91bf61 0%,#3f8738 100%); /* IE10+ */
    background: linear-gradient(top,  #91bf61 0%,#3f8738 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91bf61', endColorstr='#3f8738',GradientType=0 ); /* IE6-9 */
  }
  &.primary:active{
    background: #3f8738; /* Old browsers */
    background: -moz-linear-gradient(top,  #3f8738 0%, #91bf61 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f8738), color-stop(100%,#91bf61)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #3f8738 0%,#91bf61 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #3f8738 0%,#91bf61 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #3f8738 0%,#91bf61 100%); /* IE10+ */
    background: linear-gradient(top,  #3f8738 0%,#91bf61 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f8738', endColorstr='#91bf61',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
  }
}

ul.nav {
  background: #ff6f3d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  li {
    float: left;
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 13px 13px;
      &.active, &:hover {
        color: #fff;
        text-decoration: none;
        background: #ed5f30;
      }
      &.first {
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
      }
      &.last {
        -webkit-border-radius: 0 4px 4px 0;
        -moz-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0;
      }
      &.products {
        width: 200px;
        text-indent: 2px;
      }
    }
    &.clearfix {
      float: none;
      clear: both;
    }
  }
}

.footer {
  background: #fff;
  padding: 10px;
  .footer-body {
    background: #F5F7FA;
  }
  .nboxes {
    @height: 50px;
    height: (@height + 20);
    border-bottom: 1px solid #EDEDED;
    .nbox {
      float: left;
      width: 290px;
      height: @height;
      border-right: 1px solid #CCD0D9;
      margin: 10px 0 0 0;
      .nbox_l {
        float: left;
        width: 44%;
        height: @height;
        text-align: right;
        font-size: 30px;
        padding: 10px 0 0 0;
        color: #656D78;
      }
      .nbox_r {
        float: left;
        height: @height;
        font-size: 14px;
        padding: 10px 0 0 0;
        margin-left: 5px;
        color: #656D78;
      }
      &:last-child {
        border-right: 0;
      }
    }
  }
  .fc {
    @height: 105px;
    height: @height;
    padding: 10px;
    .fl {
      float: left;
      width: 75%;
      height: @height;
    }
    .fr {
      float: left;
      width: 25%;
      height: @height;
      .ftel {
        font-size: 14px;
        text-align: center;
        .ftelink {
          display: block;
          margin: 0 auto;
          width: 190px;
          height: 36px;
          line-height: 36px;
          font-size: 24px;
          text-decoration: none;
          color: #656D78;
        }
        .ci {
          margin: 4px;
        }
      }
      .fco {
        padding: 5px;
        .fcolink {
          margin: 5px auto;
          padding: 3px;
          width: 150px;
          height: 30px;
          display: block;
          background: #85C143;
          color: #FFF;
          text-decoration: none;
          line-height: 30px;
          border-radius: 5px;
          font-size: 16px;
        }
        .ci {
          margin: 0 8px;
        }
      }
    }
  }
}

.ci {
  display: block;
  float: left;
  background: url(/images/common-icons.png) no-repeat 0 0;
}

.ci-tel {
  width: 31px;
  height: 21px;
  background-position: -30px 0;
}

.ci-chat {
  width: 27px;
  height: 27px;
  background-position: 0 0;
}

.copy {
  font-size: 13px;
  text-align: center;
  padding: 15px 0 30px;
  color: #656D78;
  a {
    font-size: 13px;
    text-decoration: none;
    color: #656D78;
    &:hover {
      text-decoration: underline;
      color: #656D78;
    }
  }
}

.message {
  padding: 180px 30px;
  background: #FFF;
  margin: 10px 0;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

@import "index";
@import "cart";
@import "product_details";
@import "checkout";
@import "login";
@import "orders";
@import "account";
@import "vendor/sliderkit-core";
@import "vendor/toastr";
@import "vendor/jqpagination";
