.table_container {
  a {
    color: #0C63C2;
    text-decoration: none;
    &:hover {
      color: #034C9C;
      text-decoration: none;
    }
  }
  table {
    border: 1px solid #ccc;
    margin: 10px auto 30px;
    font-size: 14px;
    width: 1104px;
  }
  th {
    color: #333;
    text-align: left;
    padding: 10px 30px;
    border-bottom: 1px solid #ccc;
    background: #ededed;
    background: -moz-linear-gradient(top, #f7f7f7 0%, #ededed 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ededed));
    background: -webkit-linear-gradient(top, #f7f7f7 0%,#ededed 100%);
    background: -o-linear-gradient(top, #f7f7f7 0%,#ededed 100%);
    background: -ms-linear-gradient(top, #f7f7f7 0%,#ededed 100%);
    background: linear-gradient(top, #f7f7f7 0%,#ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0 );
  }
  td {
    padding: 10px 30px;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    background: #fff;
  }
  .item-image {
    width: 72px;
  }
  .item-image img {
    width: 72px; height: 72px;
  }
  .item-name { width: 45%; }
  .item-quantity, .item-quantity input {
    width: 30px;
    text-align: center;
  }
  .item-price, .item-subtotal { width: 50px; }
}

.checkout_cart {
  .item-name { width: 55% !important; }
}

.shopping_cart_buttons {
  padding: 0 42px 20px;
}

.arrow_up_black {
  display: inline-block;
  @size: 7px;
  border-bottom: @size solid black;
}

.arrow_down_black {
  display: inline-block;
  @size: 7px;
  border-top: @size solid black;
}

.cartaccontainer {
  width: 1104px;
  margin: 10px auto;
}

.empty_cart {
  font-size: 15px;
  width: 1104px;
  margin: 50px auto 200px;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 400px;
  height: 28px;
  padding: 3px 12px;
  font-size: 15px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 426px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 15px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}
