.orders {
  padding: 20px 0;
}

.tinfo {
  .left, .right {
    font-size: 13px;
    line-height: 18px;
  }
  .right {
    text-align: right;
  }
}

.breadcrumb {
  display: block;
  width: 1082px;
  font-size: 14px;
  border: 1px solid #CCC;
  background: #FFFFED;
  padding: 10px;
  margin: 10px auto;
  color: #0014FF;
  a {
    color: #005CFF;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
