block variables
  title = "公司简介"

extends ../layouts/default

block content
  .about.content.whtbg
    h2.title 公司简介
    p 随着顺德的的经济及消费水平提高，本土市民对葡萄酒的深入了解以及需求与日俱增，结合21世纪信息化时代pc互联网及移动互联网的普及，顺德人民对消费的观念和习惯开始与国内一线城市接轨，红酒室相信即使是一瓶葡萄酒也将迎来“网购时代”。
    p 红酒室www.8wine.net于2013年11月上线，是国内首个区域性、专注和服务本土市场的进口葡萄酒及酒类电子商务网站，但红酒室不仅是个垂直型电子商务网站，更是一个致力于帮助客户学习并挑选葡萄酒及葡萄酒相关文化生活理念普及为一体的本地服务类平台。我们秉承打造高品位的生活圈子，为本土消费者提供交流、学习葡萄酒文化的平台。
    p 服务理念：立足本土，客户为本
    p 使命：让葡萄酒文化在顺德普及起来
    p 目标：做本土葡萄酒消费第一品牌
    p 声明：红酒室每瓶葡萄酒都是100%原瓶进口，个别产品由原产地或国内总经销直供，每款葡萄酒都拥有出入境检验检疫卫生证书
