block variables
  title = "全能简介"

extends ../layouts/default

block content
  .about.content.whtbg
    h2.title 全能简介
    p 广东安能保险柜制造有限公司是以从事保险柜（箱）等安防产品为主的现代化企业，公司拥有占地面积33000平方米的现代化厂房，装备了数百台国际著名品牌的数控冲床、折弯机、激光切割机、以及弧焊机器人等设备，并配备了独立的研发中心、检测中心、寿命实验室，具有世界领先的制造设备和工艺流程，产品涉及家用保险柜、文件保密柜、酒店客房保险箱、枪弹柜、金库门等多个系列近300余款产品，年生产规模超过30万台。
    p 公司控股工业集团创始于1935年，保险柜的制造历史可追溯到1939年，其间经历了中国现代工业的历史变迁，上世纪九十年代恢复了保险柜的生产，1999年广东安能保险柜制造有限公司正式成立，旗下“全能”品牌是中国保险柜行业的旗舰品牌。在公司的发展过程中，受到了社会的普遍认同，相继获得广东省著名商标、高新技术企业、中国保险柜十大品牌、中国酒店用品十大品牌、中国家具最受消费者欢迎品牌等荣誉称号，公司同时是中国安防协会理事单位、广东省安防协会理事单位。 
    p 经过多年的持续发展，公司已跻身为中国大陆领先、华南地区产销量第一的保险柜制造企业，创新的技术研发、卓越的品质控制、完善的售后服务，成为了北京奥运会、上海世博会、广州亚运会产品供应商，同时为中国移动、中国石油、中国银行等大型国企及公安部门、武警部队等军政部门提供各类专业保险柜产品。
    p 时至今日，全能产品已遍布全国各省、自治区、直辖市，形成了以2000余个销售网点、300余家专卖店为主力的强大营销网络，有超过500万以上的忠实用户。产品远销中东、欧美、非洲、南太平洋等几十个国家和地区，并获得欧盟CE及ROHS等多项国际权威认证，成为多个国际名牌的OEM供应商，是国内最知名的保险柜出口品牌之一。
    p 立足当下，壮志满怀，展望未来，意气风发。在不断探索创新中，诚信、智慧的全能人，正在努力打造中国安防行业的航空母舰，向服务全球的国际性综合安防集团企业迈进！
