block variables
  title = "选择全能的十大理由"

extends ../layouts/default

block content
  .about.content.whtbg
    h2.title 选择全能的十大理由
    p 
	  img(src='/images/choose.jpg', alt='选择全能的十大理由', width=800, height=5612)
