block variables
  title = "产品"

extends ../layouts/default

block content
  - var product = products[category][model];
  h2= category + model
  p= '价格：' + product.price
  a.addtocartbtn.hudbtn.primary(href='/cart', data-category=category, data-model=model) 放入购物车
